* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  z-index: 1;
}
h1{
  margin-top: 10%;
  font-size:  2.4rem;
  color: white;
}
label{
font-size: 1.3rem;
display: inline-block;
padding-bottom: 10px;
color: white;
}
input{
  height: 40px;
  border-radius: 0.8rem;
  border-width: 0;
}
input:hover{
  background-color: #8DC6BB;
}
.name{
width: 110%;
}
.emailid{
  width: 400px;

}
.names{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}
.forma1{
  padding-right: 3%
}
.emailmessage{
  margin: 3% 0 3% 0;
  position: relative;
}
.messageinput{
width: 400px;
height: 100px;;
}
.end{
  position: absolute;
  right: 30%;
  bottom: 27%;
}
.button2{
  background-color: #4CAF50;
  width: 5rem;
  position: fixed;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.gif{
  position: absolute;
  text-align: center;
  left: 18%;
  z-index: -1;
  transform: rotate(-25deg);

}
.gif1{
  position: absolute;
  text-align: center;
  right: 18%;
  z-index: -1;
  transform: rotate(20deg);
}
